<h1>Welcome to My Gift List</h1>

<p>Create a gift list for yourself and let others buy a gift for you.  Or you can browse other people list and buy a gift from their list.</p>

<p><%= link_to  “Sign up”,  signup_path %></p>

<p>OR</p>

<p><%= link_to “Log in”, login_path %></p>