<div class="col-md-12">
    <div class="jumbotron">
        <h1>Welcome to My Gift List</h1>
        <h3>Create a gift list for yourself and let others buy a gift for you.  Or you can browse other people list and buy a gift from their list.</h3>

        <p><%= link_to 'Sign up',  signup_path, class: "btn btn-primary btn-lg" %></p>

        <p>OR</p>

        <p><%= link_to 'Log in with username & password', login_path, class: "btn btn-primary btn-lg" %></p>

        <p>OR</p>

        <p><%= link_to 'Log in with Facebook', '/auth/facebook', class: "btn btn-primary btn-lg" %></p>

    </div>
</div>