/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require_tree
 *= require_self
 */

 /* Custom bootstrap variables must be set or imported *before* bootstrap.*/
@import "bootstrap";

body { background-image: url(/assets/gift_hero.jpg); }
h1, h3 { font-family: 'Bree Serif', serif; color: rgb(242, 242, 236); }
.list { margin: 2rem 0; }
a.btn.btn-primary, a.btn.btn-secondary { margin: 0 .5rem; }
.hero { background-color: rgba(135, 160, 76, .7); margin-top: 10%; }
.jumbotron { background-color: transparent; }

.home-btn:hover { background-color: rgb(187, 234, 253); color: #007bff; border: none; }

