<div class="col-md-12">
    <h1>List of items by Category</h1>

    <ul class="list-group">
        <% @categories.each do |category| %>
            <li class="list-group-item"><%= link_to category.name, category_items_path(category) %></li>
        <% end %>
    </ul>

    <p><%= link_to "Go to your lists", user_path(@user) %></p>
</div>